@import "reset";
@import "variables/global";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--color-text-primary);
}

.app {
  min-height: 100%;
  background: var(--color-main-bg);
}

.page-wrapper {
  max-width: var(--container-width);
  margin: 0 auto;
}
