.AccessPro {
  border-radius: 20px;
  width: 250px;
  background: var(--gradient-violet);
}

.text {
  margin-bottom: 28px;
  margin-top: 20px;
  width: 203px;
}

.button {
  margin-bottom: 20px;
  width: 203px;
}
