.max {
  width: 100%;
}

.title {
  color: var(--color-text-primary);
}

.text {
  color: var(--color-text-primary);
}

.white {
  .title,
  .text {
    color: var(--color-white);
  }
}

.dark-gray {
  .title,
  .text {
    color: var(--color-dark-gray-alt);
  }
}

.light-gray-100 {
  .title,
  .text {
    color: var(--color-light-gray-100);
  }
}

.light-gray-200 {
  .title,
  .text {
    color: var(--color-light-gray-200);
  }
}

.black {
  .title,
  .text {
    color: var(--color-black);
  }
}

.dark-green {
  .title,
  .text {
    color: var(--color-green);
  }
}

.red {
  .title,
  .text {
    color: var(--color-red);
  }
}

.green {
  .title,
  .text {
    color: var(--color-light-cyan-alt);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_xs .title {
  font: var(--font-s);
}

.size_xs .text {
  font: var(--font-xs);
}

.size_s .title {
  font: var(--font-m);
}

.size_s .text {
  font: var(--font-s);
}

.size_m .title {
  font: var(--font-l);
}

.size_m .text {
  font: var(--font-m);
}

.size_l .title {
  font: var(--font-xl);
}

.size_l .text {
  font: var(--font-l);
}

.size_xl .title {
  font: var(--font-xxl);
}

.size_xl .text {
  font: var(--font-xl);
}

.size_xxl .title {
  font: var(--font-xxxl);
}

.size_xxl .text {
  font: var(--font-xxl);
}

.weight_regular * {
  font-weight: 400 !important;
}

.weight_medium * {
  font-weight: 500 !important;
}

.weight_semi-bold * {
  font-weight: 600 !important;
}

.weight_bold * {
  font-weight: 700 !important;
}
