.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px 15px;
  outline: none;
  border: none;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }

  &:active {
    opacity: 0.4;
    fill-opacity: 40%;
    stroke-opacity: 40%;
  }
}

.primary {
  background: var(--color-white);
  width: 100%;
  box-shadow: 2px 4px 4px rgb(79 42 234 / 17%);
  border-radius: 20px;
  color: var(--color-primary);
  font-weight: 700 !important;
}

.disabled {
  opacity: 0.5;
}
