.Sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: sticky;
  top: 0;
  transition: width 0.3s;
  padding-left: 28px;
  padding-right: 28px;
}

.logo {
  margin-top: 36px;
  margin-bottom: 64px;
}

.access {
  margin-top: auto;
  margin-bottom: 50px;
}

.avatar {
  margin-bottom: 75px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .access {
    display: none;
  }

  .avatar {
    width: 42px;
    margin-top: auto;
  }
}
