.ArticleListItem {
  padding: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.image {
  border-radius: 20px;
  margin-bottom: 20px;
}

.info {
  margin-top: 10px;

  * {
    color: var(--primary-text-color) !important;
    font-size: var(--font-size-s) !important;
    text-transform: uppercase;
    line-height: 14px !important;
    letter-spacing: 0.5px;
  }
}
