.InputWrapper {
  font: var(--font-m);
  background: var(--color-white);
  letter-spacing: -0.01em;
  border-radius: 12px;
  padding: 12px 10px 12px 8px;
}

.input {
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--input-text-color);
  box-shadow: 0 10px 60px rgb(226 236 249 / 50%);
  width: 100%;

  &::placeholder {
    color: var(--color-gray-light);
  }
}

.icon {
  cursor: pointer;
}
