.Advertisement {
  position: relative;
  transition: scale 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -1px;
    border-radius: 20px;
    background: linear-gradient(180deg, #fff324 0%, #f73a38 100%);
  }

  &:hover {
    scale: 1.01;
  }
}

.content {
  z-index: 2;
  border: solid 3px transparent;
  border-radius: 20px;
  background: linear-gradient(145.62deg, #fcb738 6.72%, #ef793c 113.18%);
  background-clip: padding-box;
  cursor: pointer;
}
