.Flex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.gap4 {
  gap: 4px;
}

.gap5 {
  gap: 5px;
}

.gap8 {
  gap: 8px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.gap40 {
  gap: 30px;
}

.gap60 {
  gap: 60px;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}
