.ThemeSwitcher {
  width: 54px;
  height: 29px;
  border-radius: 50px;
  background: var(--switcher-bg);
  position: relative;
}

.icon {
  background: var(--switcher-item);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  transition: 0.2s 0s left ease-in-out;
}

.dark {
  left: 39px;
}
