.Badge {
  border-radius: 17px;
  padding: 5px 14px;
}

.default {
  border: 1px solid  var(--white-color);
}

.primary {
  background: var(--blue-gradient);
  color: var(--white-color);
}

.clear {
  padding: 0;
}
